In [1]:
"""
The purpose of this file is for sending a request to randomtweet api and then populate our db with some fake tweets.
"""

from exec import execute_query
from sqlalchemy import text
from config import *
import random

In [2]:
lorem_ipsum =   ["Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 
                "Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.", 
                "Curabitur congue velit nec commodo consequat.",
                "Quisque sit amet mauris vitae ligula condimentum laoreet."]

results_number = int(input("Enter desired number of new tweets: "))

In [3]:
for i in range(results_number):

    random_tweet_length = random.randint(1, 3)

    users_query =   """
                    SELECT username FROM users;
                    """

    users = execute_query(users_query)

    users_list = []

    for user in users:
        users_list.append(str(user)[2:-3])

    random_user_index = random.randint(0, len(users_list) - 1)

    lucky_user = users_list[random_user_index]

    username = lucky_user
    content = " ".join(lorem_ipsum[:random_tweet_length])
    created_at = "CURRENT_TIMESTAMP"

    tweet_query_string = f"""INSERT INTO tweets(username, content, created_at) VALUES
                        ('{username}', 
                        '{content}', 
                         {created_at});"""

    execute_query(tweet_query_string)

running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('redbear419',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('sadwolf260',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('whitesnake833',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('heavybutterfly198',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('beautifulduck241',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('ticklishgoose841',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('happylion378',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('crazydog869',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('yellowkoala630',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('orangeduck345',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('silverpeacock131',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('happyduck578',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('tinybear422',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('username_test',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('blackdog278',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('whitegoose249',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('sadpanda903',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('yellowrabbit178',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('purpleswan507',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('yellowmeercat271',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('ticklishbear607',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('bigswan375',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('blacktiger126',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('yellowgoose843',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('purpleswan507',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('purplepeacock914',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('purplemeercat163',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('yellowleopard267',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('beautifulwolf840',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('bluegorilla407',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('beautifulwolf840',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('blackleopard612',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('heavymeercat218',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('happyduck578',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('sadpanda903',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('happyfrog120',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('bluecat537',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('ticklishrabbit580',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('ticklishrabbit580',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('smallmeercat987',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('happybutterfly136',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('greenpeacock735',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('whitegoose249',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('yellowrabbit178',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('yellowsnake682',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('bluetiger165',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('purplepeacock914',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('whitegoose249',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor. Curabitur congue velit nec commodo consequat.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('happyduck578',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum dui sit amet tortor luctus, in congue felis auctor.',
                         CURRENT_TIMESTAMP);
running command:
                    SELECT username FROM users;

running command:  INSERT INTO tweets(username, content, created_at) VALUES
                        ('bigwolf925',
                        'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         CURRENT_TIMESTAMP);