You can install the following packages by changing directories to this folder then running `pip3 install -r requirements.txt`

If you have any issues with installation or imports, make sure you are using the correct python kernel. Worst case, install Anaconda w/ Python.

In [7]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# <b> Pandas and Dataframes </b>

query data from a csv

In [8]:
# link to get this data on GH
# https://raw.githubusercontent.com/kshedden/statswpy/master/NHANES/merged/nhanes_2015_2016.csv

df_students = pd.read_csv("StudentsPerformance.csv")
df_pokemon = pd.read_csv('pokemon_data.csv')
print(df_students)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [9]:
df_hanes = pd.read_csv("nhanes.csv")

print(df_hanes)

     SurveyYr     ID  Gender  Age AgeDecade  AgeMonths    Race1    Race3  \
0     2009_10  55829  female   28     20-29      343.0    White      NaN
1     2009_10  57112    male   14     10-19      170.0    White      NaN
2     2009_10  60232    male   80       NaN        NaN    White      NaN
3     2009_10  59919    male   22     20-29      268.0    White      NaN
4     2009_10  56351    male    1       0-9       16.0    White      NaN
...       ...    ...     ...  ...       ...        ...      ...      ...
9995  2011_12  64065    male   46     40-49        NaN    White    White
9996  2011_12  66189    male   47     40-49        NaN  Mexican  Mexican
9997  2011_12  63714    male   48     40-49        NaN    White    White
9998  2011_12  68501    male   52     50-59        NaN    White    White
9999  2011_12  62881  female   57     50-59        NaN    White    White

        Education MaritalStatus  ... AgeFirstMarij  RegularMarij  AgeRegMarij  \
0     CollegeGrad       Married  ...          15.0            No          NaN
1             NaN           NaN  ...           NaN           NaN          NaN
2        8thGrade       Married  ...           NaN           NaN          NaN
3      HighSchool  NeverMarried  ...          10.0           Yes         10.0
4             NaN           NaN  ...           NaN           NaN          NaN
...           ...           ...  ...           ...           ...          ...
9995  SomeCollege       Married  ...           NaN            No          NaN
9996  9_11thGrade       Married  ...          15.0           Yes         20.0
9997  SomeCollege       Married  ...          16.0            No          NaN
9998  SomeCollege       Married  ...          16.0           Yes         16.0
9999  CollegeGrad       Married  ...           NaN           NaN          NaN

      HardDrugs SexEver SexAge  SexNumPartnLife  SexNumPartYear  SameSex  \
0           Yes     Yes   13.0             20.0             1.0       No
1           NaN     NaN    NaN              NaN             NaN      NaN
2           NaN     NaN    NaN              NaN             NaN      NaN
3           Yes     Yes   18.0              3.0             1.0       No
4           NaN     NaN    NaN              NaN             NaN      NaN
...         ...     ...    ...              ...             ...      ...
9995         No     Yes   17.0              7.0             1.0       No
9996         No     Yes   18.0              7.0             1.0       No
9997         No     Yes   17.0              4.0             1.0       No
9998        Yes     Yes   16.0             50.0             1.0       No
9999        NaN     NaN    NaN              NaN             NaN      NaN

      SexOrientation
0       Heterosexual
1                NaN
2                NaN
3       Heterosexual
4                NaN
...              ...
9995    Heterosexual
9996    Heterosexual
9997    Heterosexual
9998    Heterosexual
9999             NaN

[10000 rows x 75 columns]

# <b> Dataframe Deepdive </b>

In [10]:
num_rows = int(input("How many rows do you want to see?"))

df_hanes.head(num_rows)

,SurveyYr,ID,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,...,AgeFirstMarij,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation
0,2009_10,55829,female,28,20-29,343.0,White,NaN,CollegeGrad,Married,...,15.0,No,NaN,Yes,Yes,13.0,20.0,1.0,No,Heterosexual
1,2009_10,57112,male,14,10-19,170.0,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009_10,60232,male,80,NaN,NaN,White,NaN,8thGrade,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009_10,59919,male,22,20-29,268.0,White,NaN,HighSchool,NeverMarried,...,10.0,Yes,10.0,Yes,Yes,18.0,3.0,1.0,No,Heterosexual
4,2009_10,56351,male,1,0-9,16.0,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#TIP: Use `.loc(rows)` to display the row you want to see from the dataset.

row = int(input("Which row do you want to see?"))

df_students.loc[row]

gender                               female
race/ethnicity                      group B
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               88
reading score                            95
writing score                            92
Name: 6, dtype: object

In [12]:
df_students.lunch.value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [13]:
# Respondants' education levels
print(df_hanes.Education.value_counts())

# Total number of respondents that said they had an education
print(f"Respondents that answered if they have an education: {df_hanes.Education.value_counts().sum()}")
# TIP: You can stack various function on your query in a DF.

SomeCollege    2267
CollegeGrad    2098
HighSchool     1517
9_11thGrade     888
8thGrade        451
Name: Education, dtype: int64
Respondents that answered if they have an education: 7221

In [14]:
# Total number of respondents that answered at all, given that every respondent has an ID
print(f"Respondents that answered: {df_hanes.ID.count()}")

Respondents that answered: 10000

In [15]:
df_students.groupby("gender")["math score"].value_counts()
#TIP: ...
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html
# Pandas groupby is used for grouping the data according to the categories and apply a function to the categories. It also helps to aggregate data efficiently.

# Pandas dataframe.groupby() function is used to split the data into groups based on some criteria. pandas objects can be split on any of their axes. 
# The abstract definition of grouping is to provide a mapping of labels to group names.

gender  math score
female  65            28
        59            21
        62            16
        67            16
        69            16
                      ..
male    42             1
        43             1
        95             1
        96             1
        99             1
Name: math score, Length: 147, dtype: int64

In [16]:
dx = df_hanes.loc[~df_hanes.Education.isin(["Some value you want to remove."]), :]  # Eliminate specific values
print(dx)

dx = dx.groupby(["AgeDecade", "Gender"])["Education"]
dx = dx.value_counts()
print(dx)

     SurveyYr     ID  Gender  Age AgeDecade  AgeMonths    Race1    Race3  \
0     2009_10  55829  female   28     20-29      343.0    White      NaN
1     2009_10  57112    male   14     10-19      170.0    White      NaN
2     2009_10  60232    male   80       NaN        NaN    White      NaN
3     2009_10  59919    male   22     20-29      268.0    White      NaN
4     2009_10  56351    male    1       0-9       16.0    White      NaN
...       ...    ...     ...  ...       ...        ...      ...      ...
9995  2011_12  64065    male   46     40-49        NaN    White    White
9996  2011_12  66189    male   47     40-49        NaN  Mexican  Mexican
9997  2011_12  63714    male   48     40-49        NaN    White    White
9998  2011_12  68501    male   52     50-59        NaN    White    White
9999  2011_12  62881  female   57     50-59        NaN    White    White

        Education MaritalStatus  ... AgeFirstMarij  RegularMarij  AgeRegMarij  \
0     CollegeGrad       Married  ...          15.0            No          NaN
1             NaN           NaN  ...           NaN           NaN          NaN
2        8thGrade       Married  ...           NaN           NaN          NaN
3      HighSchool  NeverMarried  ...          10.0           Yes         10.0
4             NaN           NaN  ...           NaN           NaN          NaN
...           ...           ...  ...           ...           ...          ...
9995  SomeCollege       Married  ...           NaN            No          NaN
9996  9_11thGrade       Married  ...          15.0           Yes         20.0
9997  SomeCollege       Married  ...          16.0            No          NaN
9998  SomeCollege       Married  ...          16.0           Yes         16.0
9999  CollegeGrad       Married  ...           NaN           NaN          NaN

      HardDrugs SexEver SexAge  SexNumPartnLife  SexNumPartYear  SameSex  \
0           Yes     Yes   13.0             20.0             1.0       No
1           NaN     NaN    NaN              NaN             NaN      NaN
2           NaN     NaN    NaN              NaN             NaN      NaN
3           Yes     Yes   18.0              3.0             1.0       No
4           NaN     NaN    NaN              NaN             NaN      NaN
...         ...     ...    ...              ...             ...      ...
9995         No     Yes   17.0              7.0             1.0       No
9996         No     Yes   18.0              7.0             1.0       No
9997         No     Yes   17.0              4.0             1.0       No
9998        Yes     Yes   16.0             50.0             1.0       No
9999        NaN     NaN    NaN              NaN             NaN      NaN

      SexOrientation
0       Heterosexual
1                NaN
2                NaN
3       Heterosexual
4                NaN
...              ...
9995    Heterosexual
9996    Heterosexual
9997    Heterosexual
9998    Heterosexual
9999             NaN

[10000 rows x 75 columns]
AgeDecade  Gender  Education
 20-29     female  SomeCollege    271
                   CollegeGrad    163
                   HighSchool     156
                   9_11thGrade     72
                   8thGrade        19
           male    SomeCollege    266
                   HighSchool     157
                   CollegeGrad    130
                   9_11thGrade    100
                   8thGrade        18
 30-39     female  SomeCollege    239
                   CollegeGrad    233
                   HighSchool     105
                   9_11thGrade     61
                   8thGrade        39
           male    CollegeGrad    214
                   SomeCollege    213
                   HighSchool     117
                   9_11thGrade     81
                   8thGrade        34
 40-49     female  CollegeGrad    282
                   SomeCollege    167
                   HighSchool     135
                   9_11thGrade     60
                   8thGrade        34
           male    CollegeGrad    199
                   SomeCollege    188
                   HighSchool     168
                   9_11thGrade    108
                   8thGrade        54
 50-59     female  CollegeGrad    217
                   SomeCollege    183
                   HighSchool     116
                   9_11thGrade     75
                   8thGrade        32
           male    SomeCollege    203
                   CollegeGrad    200
                   HighSchool     155
                   9_11thGrade     89
                   8thGrade        34
 60-69     female  SomeCollege    177
                   CollegeGrad    120
                   HighSchool     106
                   9_11thGrade     50
                   8thGrade        26
           male    CollegeGrad    160
                   SomeCollege    116
                   HighSchool      75
                   9_11thGrade     47
                   8thGrade        41
 70+       female  SomeCollege    104
                   HighSchool      96
                   CollegeGrad     57
                   9_11thGrade     52
                   8thGrade        37
           male    CollegeGrad     64
                   SomeCollege     62
                   9_11thGrade     44
                   HighSchool      44
                   8thGrade        25
Name: Education, dtype: int64

In [17]:

dx = dx.unstack() # Restructure the results from 'long' to 'wide'
print(dx)

Education         8thGrade  9_11thGrade  CollegeGrad  HighSchool  SomeCollege
AgeDecade Gender
 20-29    female        19           72          163         156          271
          male          18          100          130         157          266
 30-39    female        39           61          233         105          239
          male          34           81          214         117          213
 40-49    female        34           60          282         135          167
          male          54          108          199         168          188
 50-59    female        32           75          217         116          183
          male          34           89          200         155          203
 60-69    female        26           50          120         106          177
          male          41           47          160          75          116
 70+      female        37           52           57          96          104
          male          25           44           64          44           62

In [18]:

dx = dx.apply(lambda x: x/x.sum(), axis=1) # Normalize within each stratum to get proportions
print(dx)

Education         8thGrade  9_11thGrade  CollegeGrad  HighSchool  SomeCollege
AgeDecade Gender
 20-29    female  0.027900     0.105727     0.239354    0.229075     0.397944
          male    0.026826     0.149031     0.193741    0.233979     0.396423
 30-39    female  0.057607     0.090103     0.344165    0.155096     0.353028
          male    0.051593     0.122914     0.324734    0.177542     0.323217
 40-49    female  0.050147     0.088496     0.415929    0.199115     0.246313
          male    0.075314     0.150628     0.277545    0.234310     0.262204
 50-59    female  0.051364     0.120385     0.348315    0.186196     0.293740
          male    0.049927     0.130690     0.293686    0.227606     0.298091
 60-69    female  0.054280     0.104384     0.250522    0.221294     0.369520
          male    0.093394     0.107062     0.364465    0.170843     0.264237
 70+      female  0.106936     0.150289     0.164740    0.277457     0.300578
          male    0.104603     0.184100     0.267782    0.184100     0.259414

In [19]:
print(dx.to_string(float_format="%.3f"))  # Limit display to 3 decimal places

Education         8thGrade  9_11thGrade  CollegeGrad  HighSchool  SomeCollege
AgeDecade Gender
 20-29    female     0.028        0.106        0.239       0.229        0.398
          male       0.027        0.149        0.194       0.234        0.396
 30-39    female     0.058        0.090        0.344       0.155        0.353
          male       0.052        0.123        0.325       0.178        0.323
 40-49    female     0.050        0.088        0.416       0.199        0.246
          male       0.075        0.151        0.278       0.234        0.262
 50-59    female     0.051        0.120        0.348       0.186        0.294
          male       0.050        0.131        0.294       0.228        0.298
 60-69    female     0.054        0.104        0.251       0.221        0.370
          male       0.093        0.107        0.364       0.171        0.264
 70+      female     0.107        0.150        0.165       0.277        0.301
          male       0.105        0.184        0.268       0.184        0.259

# <b> Creating new columns in the data frame for derivative values </b>

In [20]:
#inner join
merged_inner = pd.merge(left=df_likes_aggregate, right=df_tweets, left_on='tweetID', right_on='tweetID')

merged_inner

NameError: name 'df_likes_aggregate' is not defined

In [ ]:
df = merged_inner.groupby("length")["counts"].value_counts()

print(df)

# <b> Visualization Introduction </b>
- #### demonstrate most common graph types
- #### finish with scatterplot between tweet length and like count

In [ ]:
g = sns.barplot(x="lunch", y="math score", data=df_students)

In [ ]:
g = sns.FacetGrid(df_students, row = "lunch")
g = g.map(plt.hist, "math score")
plt.show()

In [ ]:
# Create a boxplot and histogram of the tips grouped by the day
sns.boxplot(x = df_hanes["Age"], y = df_hanes["HHIncome"])

In [ ]:
# Create a boxplot and histogram of the tips grouped by the day
sns.boxplot(x = df_hanes["Age"], y = df_hanes["HealthGen"])

In [ ]:
sns.scatterplot(data = df_hanes, x = "Age", y = "HealthGen")

plt.show()

In [ ]:
sns.scatterplot(data = df_hanes, x = "Age", y = "HHIncome")

plt.show()

In [ ]:
grid = sns.FacetGrid(df_hanes, col = "HealthGen", hue = "HealthGen", col_wrap=1)
grid.map(sns.scatterplot, "HHIncome", "Age")

grid.add_legend()

plt.show()

### fitter correlation

In [ ]:
sns.scatterplot(data = merged_inner, x = "counts", y = "length")

plt.show()

#scatterplot between counts and length

In [ ]:
print(merged_inner['counts'].corr(merged_inner['length']))

#correlation on the mergred_inner df between counts (likes on a tweet) and tweet length

### Let's do some basic data visualization

If you want a quick refresher on different types of charts/graphs and when to use them, read [this](https://www.tableau.com/learn/whitepapers/which-type-chart-or-graph-right-for-you-ungated)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

### Line Chart

Lets demonstrate trends in stats like HP or Attack with different classifiers such as the Pokemon's Generation.

In [ ]:
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot

# Visualizing the trend of stats grouped by generation.
data = []
stats_names = ['HP', 'Attack', 'Defense']
stats = df_pokemon.groupby("Generation")[stats_names].mean().reset_index()
for stat in stats_names:
  stat_line = go.Scatter(
    x=stats["Generation"],
    y=stats[stat],
    name=stat,
    line=dict(
      width=3,
    ),
  )

  data.append(stat_line)

layout = go.Layout(
  title='Trend of stats by {}'.format("Generation"),
  xaxis=dict(title="Generation"),
  yaxis=dict(title='Values')
)

trend = go.Figure(data=data, layout=layout)
iplot(trend, filename='trend')


# stats_by('Generation')
# stats_by('Type 1')

NameError: name 'df_pokemon' is not defined

In [ ]:
# We can turn that code into a neat function that allows us to pass
# the classifier and stat names in dynamically.

def stats_by(classifier, stats_names):
  data = []
  stats = df.groupby(classifier)[stats_names].mean().reset_index()
  for stat in stats_names:
    stat_line = go.Scatter(
      x=stats[classifier],
      y=stats[stat],
      name=stat,
      line=dict(
        width=3,
      ),
    )

    data.append(stat_line)

  layout = go.Layout(
    title='Trend of stats by {}'.format(classifier),
    xaxis=dict(title=classifier),
    yaxis=dict(title='Values')
  )

  trend = go.Figure(data=data, layout=layout)
  iplot(trend, filename='trend')

stats_by('Type 1', ['Sp. Atk', 'Sp. Def', 'Speed'])

### Bar Chart

Now let's inspect the number of Pokemon in each type (i.e. Water or Fire).

In [ ]:
# Lets assign each Pokemon type a color for visualization in
# the bar chart.
# Defining colors for graphs 
colors = {
    "Bug": "#A6B91A",
    "Dark": "#705746",
    "Dragon": "#6F35FC",
    "Electric": "#F7D02C",
    "Fairy": "#D685AD",
    "Fighting": "#C22E28",
    "Fire": "#EE8130",
    "Flying": "#A98FF3",
    "Ghost": "#735797",
    "Grass": "#7AC74C",
    "Ground": "#E2BF65",
    "Ice": "#96D9D6",
    "Normal": "#A8A77A",
    "Poison": "#A33EA1",
    "Psychic": "#F95587",
    "Rock": "#B6A136",
    "Steel": "#B7B7CE",
    "Water": "#6390F0",
}

In [ ]:
# Visualizing number of pokemon per type across all generation.
types = (df.groupby(['Type 1'])['#'].count())
types_name = list(types.keys())

data = go.Bar(
    x=types_name,
    y=types.values,
    marker=dict(
        color=list(colors.values())
    ),
    name="{}".format(types_name)
)

layout = go.Layout(
    title='Types',
    xaxis=dict(
        title='Type'
    ),
    yaxis=dict(
        title='Number of Pokemon'
    )
)

fig = go.Figure(data=[data], layout=layout)
iplot(fig, filename='Types')

### Box plot

In [ ]:
# data preparation
trace1 = go.Box(
    y=df.Speed,
    name = 'Speed',
    marker = dict(
        color = 'rgb(12, 12, 140)',
    )
)
trace2 = go.Box(
    y=df.HP,
    name = 'HP',
    marker = dict(
        color = 'rgb(12, 128, 128)',
    )
)
data = [trace1, trace2]
iplot(data)

### Scatter plot

In [ ]:
# Read csv data
df = pd.read_csv('pokemon_data.csv')

# Create a new column (again) to represent "Total" strength.
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head()

pk1 = df[df.Generation == 1]
pk2 = df[df.Generation == 2]
pk3 = df[df.Generation == 3]
pk4 = df[df.Generation == 4]
pk5 = df[df.Generation == 5]

# creating trace1
trace1 =go.Scatter(
                    x = pk1.HP,
                    y = pk1.Total,
                    mode = "markers",
                    name = "Generation 1",
                    marker = dict(color = 'rgba(83, 37, 85, 1)'),
                    text= pk1.Name)
# creating trace2
trace2 =go.Scatter(
                    x = pk2.HP,
                    y = pk2.Total,
                    mode = "markers",
                    name = "Generation 2",
                    marker = dict(color = 'rgba(168, 0, 0, 1)'),
                    text= pk2.Name)
# creating trace3
trace3 =go.Scatter(
                    x = pk3.HP,
                    y = pk3.Total,
                    mode = "markers",
                    name = "Generation 3",
                    marker = dict(color = 'rgba(35, 117, 0, 1)'),
                    text= pk3.Name)
# creating trace4
trace4 =go.Scatter(
                    x = pk4.HP,
                    y = pk4.Total,
                    mode = "markers",
                    name = "Generation 4",
                    marker = dict(color = 'rgba(5, 84, 133, 1)'),
                    text= pk4.Name)
# creating trace5
trace5 =go.Scatter(
                    x = pk5.HP,
                    y = pk5.Total,
                    mode = "markers",
                    name = "Generation 5",
                    marker = dict(color = 'rgba(7, 181, 187, 1)'),
                    text= pk5.Name)
data = [trace1, trace2, trace3, trace4, trace5]
layout = dict(title = 'Total Power vs Generation of top 100 Pokemons with gen1,gen2,gen3,gen4 and gen5',
              xaxis= dict(title= 'Pokemon Number',ticklen= 5,zeroline= False),
              yaxis= dict(title= 'Total_Power',ticklen= 5,zeroline= False)
             )
fig = dict(data = data, layout = layout)
iplot(fig)

In [ ]:
# prepare data
pk1 = df.Total[df.Generation == 1]
pk2 = df.Total[df.Generation == 2]

trace1 = go.Histogram(
    x=pk1,
    opacity=0.75,
    name = "Pokemon Total Power(Generation=1)",
    marker=dict(color='rgba(171, 50, 96, 0.6)'))
trace2 = go.Histogram(
    x=pk2,
    opacity=0.75,
    name = "Pokemon Total Power(Generation=2)",
    marker=dict(color='rgba(12, 50, 196, 0.6)'))

layout = go.Layout(barmode='overlay',
                   title='Pokemon Total Power by Generation 1',
                   xaxis=dict(title='Pokemon Total Power'),
                   yaxis=dict(title='Count'),
)

# Single histogram
fig = go.Figure(data=[trace1], layout=layout)
iplot(fig)

In [ ]:
layout = go.Layout(barmode='overlay',
                   title='Pokemon Total Power by Generation 1 and Generation 2',
                   xaxis=dict(title='Pokemon Total Power'),
                   yaxis=dict(title='Count'),
)

# Double histogram
fig = go.Figure(data=[trace1, trace2], layout=layout)
iplot(fig)

In [ ]:
import plotly.figure_factory as ff

# Displot is a histogram fitted with a KDE
hp_distplot = ff.create_distplot([df.HP], ['HP'], bin_size=5)
iplot(hp_distplot, filename='HP Distplot')

In [ ]:
# Visualizing with a radar chart.
def polar_pokemon_stats(pk_name):
  pkmn = df[df.Name == pk_name]
  obj = go.Scatterpolar(
    r=[
      pkmn['HP'].values[0],
      pkmn['Attack'].values[0],
      pkmn['Defense'].values[0],
      pkmn['Sp. Atk'].values[0],
      pkmn['Sp. Def'].values[0],
      pkmn['Speed'].values[0],
      pkmn['HP'].values[0]
    ],
    theta=[
      'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'HP'
    ],
    fill='toself',
    marker=dict(
      color=colors[pkmn['Type 1'].values[0]]
    ),
    name=pkmn['Name'].values[0]
  )

  return obj

# Comparing stats of 2 different pokemons
pkmn_1_name = 'Kyogre'
pkmn_2_name = 'Entei'

layout = go.Layout(
    polar=dict(
        radialaxis=dict(
            visible=True,
            range=[0, 250]
        )
    ),
    showlegend=True,
    title="{} vs. {}".format(pkmn_1_name, pkmn_2_name)
)

pkmn_1 = polar_pokemon_stats(pkmn_1_name)
pkmn_2 = polar_pokemon_stats(pkmn_2_name)

compare_2_pokemon = go.Figure(data=[pkmn_1, pkmn_2], layout=layout)
iplot(compare_2_pokemon, filename='Compare 2 Pokemon')