# Quick review of CRUD in SQL

### Create

In [ ]:
from exec import execute_query

# Here is some existing code to read from tweets - run this to get some values. Then, take
# those values to "create" some likes.
tweet_query = "SELECT * FROM tweets;"

tweets = execute_query(tweet_query)
for t in tweets:
    print(t)

user_query = "SELECT * FROM users;"

users = execute_query(user_query)
for u in users:
    print(u)

# Update the below code to write likes into your table.

# Fix the query
likes_query = """
INSERT INTO likes(username, tweet_id)
VALUES 
('userX', 1), 
('userY', 1), 
('userZ', 2), 
"""

# Call the execute_query function to run the above query.

### Read

In [ ]:
# If your previous code worked, you should see the new likes you created above.
users_query = "SELECT * FROM likes;"

users = execute_query(users_query)
for user in users:
    print(user)

### Update

In [ ]:
users_query = """UPDATE tweets 
                 SET content = 'test1' 
                 WHERE content = 'test0';"""
                 
execute_query(users_query)

In [ ]:
users_query = """UPDATE likes 
                 SET likes.tweetID = '1' 
                 WHERE likes.tweetID = '0';"""
                 
execute_query(users_query)

### Delete

In [ ]:
users_query = "DELETE FROM tweets WHERE 'content' = 'test1';"

execute_query(users_query)

In [ ]:
users_query = "DELETE FROM likes WHERE 'tweetID' = '1';"

execute_query(users_query)